@charset "utf-8";
/* CSS Document */

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#after {
		position: absolute;
		width: 1920px;
		height: 3240px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}
	#n_1 {
		fill: rgba(255,255,255,1);
	}
	.n_1 {
		position: absolute;
		overflow: visible;
		width: 144px;
		height: 1080px;
		left: 1776px;
		top: 0px;
	}
	#n_2 {
		fill: rgba(19,77,194,1);
	}
	.n_2 {
		position: absolute;
		overflow: visible;
		width: 1776px;
		height: 1080px;
		left: 0px;
		top: 0px;
	}
	#Text {
		left: 1779px;
		top: -8px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#Text_m {
		left: 1501px;
		top: -9px;
		position: absolute;
		overflow: visible;
		width: 273px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.35px;
	}
	#n_ {
		left: 159px;
		top: 642px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#n__o {
		left: 159px;
		top: 804px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#btn1 {
		left: 159px;
		top: 705px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	    background-color: #134DC2;
		cursor: pointer;
	}
	#n____q {
		left: 159px;
		top: 867px;
		position: absolute;
		overflow: visible;
		width: 191px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n_6 {
		fill: rgba(19,77,194,1);
	}
	.n_6 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 60px;
		left: 0px;
		top: 1080px;
	}
	#n_5 {
		fill: rgba(255,255,255,1);
	}
	.n_5 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1020px;
		left: 0px;
		top: 1140px;
	}
	.n__t {
		left: 104px;
		top: 1080px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.35px;
	}
	#n__u {
		left: 283px;
		top: 1226px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#n____v {
		left: 281px;
		top: 1432px;
		position: absolute;
		overflow: visible;
		width: 659px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(19,77,194,1);
		letter-spacing: 0.35px;
	}
	#n__w {
		left: 90px;
		top: 1184px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(19,77,194,1);
		letter-spacing: 0.35px;
	}
	#n____x {
		left: 364px;
		top: 1818px;
		position: absolute;
		overflow: visible;
		width: 297px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n______48_____________________ {
		left: 281px;
		top: 1640px;
		position: absolute;
		overflow: visible;
		width: 552px;
		white-space: nowrap;
		line-height: 30px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n_____________________________ {
		left: 1151px;
		top: 1640px;
		position: absolute;
		overflow: visible;
		width: 489px;
		white-space: nowrap;
		line-height: 30px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n____ {
		left: 364px;
		top: 1872px;
		position: absolute;
		overflow: visible;
		width: 470px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n_____ {
		left: 364px;
		top: 1926px;
		position: absolute;
		overflow: visible;
		width: 366px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__ {
		left: 364px;
		top: 1980px;
		position: absolute;
		overflow: visible;
		width: 208px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__ba {
		left: 281px;
		top: 1818px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(19,77,194,1);
	}
	#n__bb {
		left: 281px;
		top: 1872px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(19,77,194,1);
	}
	#n__bc {
		left: 281px;
		top: 1926px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(19,77,194,1);
	}
	#n__bd {
		left: 281px;
		top: 1980px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(19,77,194,1);
	}
	#Text_ {
		left: 281px;
		top: 1556px;
		position: absolute;
		overflow: visible;
		width: 95px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(19,77,194,1);
		letter-spacing: 0.35px;
	}
	#Text_ba {
		left: 1151px;
		top: 1556px;
		position: absolute;
		overflow: visible;
		width: 95px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(19,77,194,1);
		letter-spacing: 0.35px;
	}
	#n__be {
		left: 153px;
		top: 1560px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(19,77,194,1);
		letter-spacing: 0.35px;
	}
	#n__bf {
		left: 1023px;
		top: 1560px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(19,77,194,1);
		letter-spacing: 0.35px;
	}
	#n_14 {
		fill: rgba(19,77,194,1);
	}
	.n_14 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 60px;
		left: 0px;
		top: 2160px;
	}
	#n_15 {
		fill: rgba(255,255,255,1);
	}
	.n_15 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1020px;
		left: 0px;
		top: 2220px;
	}
	#n__bg {
		left: 104px;
		top: 2158px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.35px;
	}
	#n__bh {
		left: 283px;
		top: 2304px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#n__bi {
		left: 90px;
		top: 2262px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(19,77,194,1);
		letter-spacing: 0.35px;
	}
	#n__bj {
		left: 364px;
		top: 2618px;
		position: absolute;
		overflow: visible;
		width: 173px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__bk {
		left: 364px;
		top: 2672px;
		position: absolute;
		overflow: visible;
		width: 173px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n___bi {
		left: 364px;
		top: 2726px;
		position: absolute;
		overflow: visible;
		width: 263px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__bl {
		left: 364px;
		top: 2780px;
		position: absolute;
		overflow: visible;
		width: 118px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n____bk {
		left: 364px;
		top: 2834px;
		position: absolute;
		overflow: visible;
		width: 242px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__bm {
		left: 364px;
		top: 2888px;
		position: absolute;
		overflow: visible;
		width: 146px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__bn {
		left: 364px;
		top: 2942px;
		position: absolute;
		overflow: visible;
		width: 118px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__bo {
		left: 364px;
		top: 2996px;
		position: absolute;
		overflow: visible;
		width: 118px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__bp {
		left: 364px;
		top: 3050px;
		position: absolute;
		overflow: visible;
		width: 146px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__bq {
		left: 281px;
		top: 2618px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(19,77,194,1);
	}
	#n__br {
		left: 281px;
		top: 2672px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(19,77,194,1);
	}
	#n__bs {
		left: 281px;
		top: 2726px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(19,77,194,1);
	}
	#n__bt {
		left: 281px;
		top: 2780px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(19,77,194,1);
	}
	#n__bu {
		left: 281px;
		top: 2834px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(19,77,194,1);
	}
	#n__bv {
		left: 281px;
		top: 2888px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(19,77,194,1);
	}
	#n__bw {
		left: 281px;
		top: 2942px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(19,77,194,1);
	}
	#n__bx {
		left: 281px;
		top: 2996px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(19,77,194,1);
	}
	#n__by {
		left: 281px;
		top: 3050px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(19,77,194,1);
	}
	#n___by {
		left: 281px;
		top: 2519px;
		position: absolute;
		overflow: visible;
		width: 455px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(19,77,194,1);
		letter-spacing: 0.35px;
	}
	#n__bz {
		left: 153px;
		top: 2523px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(19,77,194,1);
		letter-spacing: 0.35px;
	}