@charset "utf-8";
/* CSS Document */

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	.BG {
		width: 100%;
		height: 7560px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}
	.BG_Y {
		border: none;
		background-color: #FFCC00;
		position: relative;
		overflow: visible;
		width: 87%;
		height: 1080px;
		float: left;
	}
.BG-Y_Text {
	position: absolute;
	float: right;
	right: 10px;
	top: -8px;
	font-family: Noto Sans KR;
	font-weight: bold;
	font-size: 145px;
	color: #ffffff;
	letter-spacing: 0.35px;
}
.BG_W {
	border: none;
	background-color: #ffffff;
	position: relative;
	width: 13%;
	height: 1080px;
	float: right;
}
.BG-W_Text {
	position: absolute;
	float: left;
	left: 10px;
	top: -8px;
	font-family: Noto Sans KR;
	font-weight: bold;
	font-size: 145px;
	color: rgba(28,28,28,1);
	letter-spacing: 0.35px;
}
	.n_1 {
		position: relative;
		left: 10%;
		top: 47%;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	.n_2 {
		position: relative;
		top: 51%;
		left: 10%;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	.n____ {
		left: 159px;
		top: 571px;
		position: absolute;
		overflow: visible;
		width: 253px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
    #btn1{
		position: relative;
		top: 48%;
		left: 10%;
		overflow: visible;
		width: 253px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	    background-color: #FFCC00;
		cursor: pointer;
    }
	#btn2 {
		
		left: 10%;;
		top: 52%;
		position: relative;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	    background-color: #FFCC00;
		cursor: pointer;
	}
	#btn4 {
		left: 10%;
		top: 57%;
		position: relative;
		overflow: visible;
		width: 191px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	    background-color: #FFCC00;
		cursor: pointer;
	}
	#btn3 {
		left: 10%;
		top: 53%;
		position: relative;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	    background-color: #FFCC00;
		cursor: pointer;
	}
	.n_3 {
		left: 10%;
		top: 56%;
		position: relative;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	.a_1 {
		border: none;
		background-color: #FFCC00;
		position: absolute;
		overflow: visible;
		width: 100%;
		height: 60px;
		top: 1080px;
    }
.a1_text {
		height: 50px;
	    position: absolute;
	    left: 5%;
	    border: none;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.35px;
}
.a1_BG {
	border: none;
	background-color: #ffffff;
	position: absolute;
	width: 100%;
	height: 1020px;
	top: 1140px;
}
	.n__u {
		left: 104px;
		top: 1080px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.35px;
	}
	#n__ {
		left: 15%;
		top: 80px;
		position: absolute;
		overflow: visible;
		width: 360px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#n__w {
		left: 20%;
		top: 250px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__x {
		left: 20%;
		top: 510px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__y {
		left: 20%;
		top: 760px;
		position: absolute;
		overflow: visible;
		width: 251px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__z {
		left: 60%;
		top: 510px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__ba {
		left: 60%;
		top: 250px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n____ba {
		left: 20%;
		top: 330px;
		position: absolute;
		overflow: visible;
		width: 225px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n_____ {
		left: 20%;
		top: 590px;
		position: absolute;
		overflow: visible;
		width: 369px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n_____ba {
		left: 20%;
		top: 840px;
		position: absolute;
		overflow: visible;
		width: 392px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n_________ {
		left: 60%;
		top: 590px;
		position: absolute;
		overflow: visible;
		width: 443px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n_______ {
		left: 60%;
		top: 330px;
		position: absolute;
		overflow: visible;
		width: 478px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#Text_ {
		left: 20%;
		top: 900px;
		position: absolute;
		overflow: visible;
		width: 93px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#Text_ba {
		left: 60%;
		top: 680px;
		position: absolute;
		overflow: visible;
		width: 93px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n__bb {
		left: 10%;
		top: 300px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__bc {
		left: 10%;
		top: 560px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__bd {
		left: 10%;
		top: 810px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__be {
		left: 50%;
		top: 560px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__bf {
		left:50%;
		top: 300px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	.n__bg {
		left: 5%;
		top: 30px;
		position: relative;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n_7 {
		fill: transparent;
		stroke: rgba(28,28,28,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.n_7 {
		overflow: visible;
		position: absolute;
		width: 255.848px;
		height: 5px;
		left: 20%;
		top: 420px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_6_bf {
		fill: transparent;
		stroke: rgba(28,28,28,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.n_6_bf {
		overflow: visible;
		position: absolute;
		width: 350.693px;
		height: 33.525px;
		left: 20%;
		top: 660px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_5_bg {
		fill: transparent;
		stroke: rgba(28,28,28,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.n_5_bg {
		overflow: visible;
		position: absolute;
		width: 382.036px;
		height: 34.767px;
		left: 60%;
		top: 400px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_8 {
		fill: rgba(255,204,0,1);
	}
	.n_8 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 60px;
		left: 0px;
		top: 2160px;
	}
	.n_7_bi {
		position: absolute;
		overflow: visible;
		width: 100%;
		height: 1020px;
		left: 0px;
		top: 2220px;
		fill: rgba(255,255,255,1);
	}
	.n__bj {
		border: none;
		background-color: #FFCC00;
		top: 2160px;
		position: absolute;
		overflow: visible;
		width: 100%;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.35px;
	}
.n__bj_text {
	position: relative;
	left: 5%;
}
	#n__bk {
		left: 15%;
		top: 2306px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#n__bl {
		left: 10%;
		top: 2575px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__bm {
		left: 65%;
		top: 2575px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n_____15_ {
		left: 15%;
		top: 2817px;
		position: absolute;
		overflow: visible;
		width: 556px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n________bo {
		left: 70%;
		top: 2817px;
		position: absolute;
		overflow: visible;
		width: 459px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__________bp {
		left: 15%;
		top: 2881px;
		position: absolute;
		overflow: visible;
		width: 491px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n________30_ {
		left: 15%;
		top: 2709px;
		position: absolute;
		overflow: visible;
		width: 357px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n________br {
		left: 70%;
		top: 2709px;
		position: absolute;
		overflow: visible;
		width: 487px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__bs {
		left: 10%;
		top: 2817px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__bt {
		left: 65%;
		top: 2817px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__bu {
		left: 10%;
		top: 2881px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__bv {
		left: 10%;
		top: 2709px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__bw {
		left: 65%;
		top: 2709px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__bx {
		left: 5%;
		top: 2579px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__by {
		left: 60%;
		top: 2579px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__bz {
		left: 5%;
		top: 2264px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	.n_9 {
		position: absolute;
		overflow: visible;
		width: 100%;
		height: 1080px;
		left: 0px;
		top: 3240px;
		fill: rgba(255,255,255,1);
	}
	#n___b {
		left: 10%;
		top: 3601px;
		position: absolute;
		overflow: visible;
		width: 360px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__b {
		left: 15%;
		top: 3736px;
		position: absolute;
		overflow: visible;
		width: 173px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#Text_b {
		left: 15%;
		top: 3790px;
		position: absolute;
		overflow: visible;
		width: 56px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#Text_ca {
		left: 15%;
		top: 3844px;
		position: absolute;
		overflow: visible;
		width: 56px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n____b {
		left: 15%;
		top: 3898px;
		position: absolute;
		overflow: visible;
		width: 214px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__ca {
		left: 15%;
		top: 3952px;
		position: absolute;
		overflow: visible;
		width: 127px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#Text_cb {
		left: 15%;
		top: 4006px;
		position: absolute;
		overflow: visible;
		width: 56px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#Text_cc {
		left: 15%;
		top: 4060px;
		position: absolute;
		overflow: visible;
		width: 111px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n______ {
		left: 15%;
		top: 4114px;
		position: absolute;
		overflow: visible;
		width: 297px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__cb {
		left: 10%;
		top: 3736px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__cc {
		left: 10%;
		top: 3790px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__cd {
		left: 10%;
		top: 3844px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__ce {
		left: 10%;
		top: 3898px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__cf {
		left: 10%;
		top: 3952px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__cg {
		left: 10%;
		top: 4006px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__ch {
		left: 10%;
		top: 4060px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__ci {
		left: 10%;
		top: 4114px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__cj {
		left: 5%;
		top: 3605px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	.n_4 {
		position: absolute;
		overflow: visible;
		width: 100%;
		height: 1080px;
		left: 0px;
		top: 4320px;
	}
	#n___ck {
		left: 10%;
		top: 4734px;
		position: absolute;
		overflow: visible;
		width: 360px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n_____cl {
		left: 70%;
		top: 4662px;
		position: absolute;
		overflow: visible;
		width: 360px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n____________ {
		left: 10%;
		top: 4822px;
		position: absolute;
		overflow: visible;
		width: 502px;
		white-space: nowrap;
		line-height: 30px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n______________ {
		left: 70%;
		top: 4822px;
		position: absolute;
		overflow: visible;
		width: 506px;
		white-space: nowrap;
		line-height: 30px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n_____________________________ {
		left: 10%;
		top: 4904px;
		position: absolute;
		overflow: visible;
		width: 523px;
		white-space: nowrap;
		line-height: 30px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n__cp {
		left: 5%;
		top: 4738px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__cq {
		left: 65%;
		top: 4738px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__cr {
		left: 20%;
		top: 4466px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	.n__cs {
		left: 5%;
		top: 4424px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	.n_4_ct {
		position: absolute;
		overflow: visible;
		width: 100%;
		height: 1080px;
		left: 0px;
		top: 5400px;
		fill: rgba(255,255,255,1);
	}
	#n______cu {
		left: 10%;
		top: 5814px;
		position: absolute;
		overflow: visible;
		width: 638px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__cv {
		left: 5%;
		top: 5818px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n____cw {
		left: 15%;
		top: 5951px;
		position: absolute;
		overflow: visible;
		width: 297px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n____cx {
		left: 15%;
		top: 6005px;
		position: absolute;
		overflow: visible;
		width: 297px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__cy {
		left: 15%;
		top: 6059px;
		position: absolute;
		overflow: visible;
		width: 201px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n____cz {
		left: 15%;
		top: 6113px;
		position: absolute;
		overflow: visible;
		width: 297px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n____c {
		left: 15%;
		top: 6167px;
		position: absolute;
		overflow: visible;
		width: 352px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__20__ {
		left: 15%;
		top: 6221px;
		position: absolute;
		overflow: visible;
		width: 366px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__c {
		left: 10%;
		top: 5951px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__da {
		left: 10%;
		top: 6005px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__db {
		left: 10%;
		top: 6059px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__dc {
		left: 10%;
		top: 6113px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__dd {
		left: 10%;
		top: 6167px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__de {
		left: 10%;
		top: 6221px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	.n_4_c {
		position: absolute;
		overflow: visible;
		width: 100%;
		height: 1020px;
		left: 0px;
		top: 6540px;
		fill: rgba(255,255,255,1);
	}
	.n_r {
		border: none;
		position: relative;
		overflow: visible;
		width: 1920px;
		height: 60px;
		left: 0px;
		top: 6480px;
		background-color: #FFCC00;
	}
	.n__df {
		left: 5%;
		top: 6480px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;

		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.35px;
	}
	#n___db {
		left: 20%;
		top: 6996px;
		position: absolute;
		overflow: visible;
		width: 407px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n_______dc {
		left: 20%;
		top: 6852px;
		position: absolute;
		overflow: visible;
		width: 699px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__dg {
		left: 10%;
		top: 7000px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__dh {
		left: 20%;
		top: 6626px;
		position: absolute;
		overflow: visible;
		width: 251px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#n__di {
		left: 5%;
		top: 6584px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#Text_dg {
		left: 25%;
		top: 7107px;
		position: absolute;
		overflow: visible;
		width: 222px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n___dh {
		left: 25%;
		top: 7161px;
		position: absolute;
		overflow: visible;
		width: 180px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__dj {
		left: 20%;
		top: 7107px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__dk {
		left: 20%;
		top: 7161px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	