@charset "utf-8";
/* CSS Document */

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	.BG {
		width: auto;
		height: auto;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}
	#n_1 {
		fill: rgba(255,255,255,1);
	}
	.n_1 {
		position: absolute;
		overflow: visible;
		width: 144px;
		height: 1080px;
		left: 1776px;
		top: 0px;
	}
	#n_2 {
		fill: rgba(255,204,0,1);
	}
	.n_2 {
		position: absolute;
		overflow: visible;
		width: 1776px;
		height: 1080px;
		left: 0px;
		top: 0px;
	}
	#Text {
		left: 1779px;
		top: -8px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#Text_k {
		left: 1501px;
		top: -9px;
		position: absolute;
		overflow: visible;
		width: 273px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.35px;
	}
	#n_ {
		left: 159px;
		top: 508px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#n__m {
		left: 159px;
		top: 651px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	.n____ {
		left: 159px;
		top: 571px;
		position: absolute;
		overflow: visible;
		width: 253px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
    #btn1{
		left: 159px;
		top: 571px;
		position: absolute;
		overflow: visible;
		width: 253px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	    background-color: #FFCC00;
		cursor: pointer;
    }
	#btn2 {
		left: 159px;
		top: 714px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	    background-color: #FFCC00;
		cursor: pointer;
	}
	#btn4 {
		left: 159px;
		top: 898px;
		position: absolute;
		overflow: visible;
		width: 191px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	    background-color: #FFCC00;
		cursor: pointer;
	}
	#btn3 {
		left: 159px;
		top: 758px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	    background-color: #FFCC00;
		cursor: pointer;
	}
	#n__r {
		left: 159px;
		top: 835px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#n_6 {
		fill: rgba(255,204,0,1);
	}
	.n_6 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 60px;
		left: 0px;
		top: 1080px;
	}
	#n_5 {
		fill: rgba(255,255,255,1);
	}
	.n_5 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1020px;
		left: 0px;
		top: 1140px;
	}
	.n__u {
		left: 104px;
		top: 1080px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.35px;
	}
	#n__ {
		left: 283px;
		top: 1226px;
		position: absolute;
		overflow: visible;
		width: 360px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#n__w {
		left: 283px;
		top: 1402px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__x {
		left: 283px;
		top: 1622px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__y {
		left: 283px;
		top: 1869px;
		position: absolute;
		overflow: visible;
		width: 251px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__z {
		left: 1021px;
		top: 1622px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__ba {
		left: 1021px;
		top: 1402px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n____ba {
		left: 283px;
		top: 1481px;
		position: absolute;
		overflow: visible;
		width: 225px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n_____ {
		left: 283px;
		top: 1701px;
		position: absolute;
		overflow: visible;
		width: 369px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n_____ba {
		left: 283px;
		top: 1948px;
		position: absolute;
		overflow: visible;
		width: 392px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n_________ {
		left: 1021px;
		top: 1701px;
		position: absolute;
		overflow: visible;
		width: 443px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n_______ {
		left: 1021px;
		top: 1481px;
		position: absolute;
		overflow: visible;
		width: 478px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#Text_ {
		left: 290px;
		top: 2010px;
		position: absolute;
		overflow: visible;
		width: 93px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#Text_ba {
		left: 1028px;
		top: 1792px;
		position: absolute;
		overflow: visible;
		width: 93px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n__bb {
		left: 153px;
		top: 1463px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__bc {
		left: 153px;
		top: 1683px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__bd {
		left: 153px;
		top: 1930px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__be {
		left: 891px;
		top: 1683px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__bf {
		left: 891px;
		top: 1463px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__bg {
		left: 90px;
		top: 1184px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n_7 {
		fill: transparent;
		stroke: rgba(28,28,28,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.n_7 {
		overflow: visible;
		position: absolute;
		width: 255.848px;
		height: 5px;
		left: 283px;
		top: 1562.552px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_6_bf {
		fill: transparent;
		stroke: rgba(28,28,28,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.n_6_bf {
		overflow: visible;
		position: absolute;
		width: 350.693px;
		height: 33.525px;
		left: 283px;
		top: 1769.656px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_5_bg {
		fill: transparent;
		stroke: rgba(28,28,28,1);
		stroke-width: 5px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.n_5_bg {
		overflow: visible;
		position: absolute;
		width: 382.036px;
		height: 34.767px;
		left: 1025.862px;
		top: 1546.283px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_8 {
		fill: rgba(255,204,0,1);
	}
	.n_8 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 60px;
		left: 0px;
		top: 2160px;
	}
	#n_7_bi {
		fill: rgba(255,255,255,1);
	}
	.n_7_bi {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1020px;
		left: 0px;
		top: 2220px;
	}
	.n__bj {
		left: 104px;
		top: 2160px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.35px;
	}
	#n__bk {
		left: 283px;
		top: 2306px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#n__bl {
		left: 281px;
		top: 2575px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__bm {
		left: 1103px;
		top: 2575px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n_____15_ {
		left: 364px;
		top: 2817px;
		position: absolute;
		overflow: visible;
		width: 556px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n________bo {
		left: 1186px;
		top: 2817px;
		position: absolute;
		overflow: visible;
		width: 459px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__________bp {
		left: 364px;
		top: 2881px;
		position: absolute;
		overflow: visible;
		width: 491px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n________30_ {
		left: 364px;
		top: 2709px;
		position: absolute;
		overflow: visible;
		width: 357px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n________br {
		left: 1186px;
		top: 2709px;
		position: absolute;
		overflow: visible;
		width: 487px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__bs {
		left: 281px;
		top: 2817px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__bt {
		left: 1103px;
		top: 2817px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__bu {
		left: 281px;
		top: 2881px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__bv {
		left: 281px;
		top: 2709px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__bw {
		left: 1103px;
		top: 2709px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__bx {
		left: 153px;
		top: 2579px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__by {
		left: 975px;
		top: 2579px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__bz {
		left: 90px;
		top: 2264px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n_9 {
		fill: rgba(255,255,255,1);
	}
	.n_9 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1080px;
		left: 0px;
		top: 3240px;
	}
	#n___b {
		left: 281px;
		top: 3601px;
		position: absolute;
		overflow: visible;
		width: 360px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__b {
		left: 364px;
		top: 3736px;
		position: absolute;
		overflow: visible;
		width: 173px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#Text_b {
		left: 364px;
		top: 3790px;
		position: absolute;
		overflow: visible;
		width: 56px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#Text_ca {
		left: 364px;
		top: 3844px;
		position: absolute;
		overflow: visible;
		width: 56px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n____b {
		left: 364px;
		top: 3898px;
		position: absolute;
		overflow: visible;
		width: 214px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__ca {
		left: 364px;
		top: 3952px;
		position: absolute;
		overflow: visible;
		width: 127px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#Text_cb {
		left: 364px;
		top: 4006px;
		position: absolute;
		overflow: visible;
		width: 56px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#Text_cc {
		left: 364px;
		top: 4060px;
		position: absolute;
		overflow: visible;
		width: 111px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n______ {
		left: 364px;
		top: 4114px;
		position: absolute;
		overflow: visible;
		width: 297px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__cb {
		left: 281px;
		top: 3736px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__cc {
		left: 281px;
		top: 3790px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__cd {
		left: 281px;
		top: 3844px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__ce {
		left: 281px;
		top: 3898px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__cf {
		left: 281px;
		top: 3952px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__cg {
		left: 281px;
		top: 4006px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__ch {
		left: 281px;
		top: 4060px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__ci {
		left: 281px;
		top: 4114px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__cj {
		left: 153px;
		top: 3605px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n_4 {
		fill: rgba(255,255,255,1);
	}
	.n_4 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1080px;
		left: 0px;
		top: 4320px;
	}
	#n___ck {
		left: 281px;
		top: 4734px;
		position: absolute;
		overflow: visible;
		width: 360px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n_____cl {
		left: 1053px;
		top: 4662px;
		position: absolute;
		overflow: visible;
		width: 360px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n____________ {
		left: 293px;
		top: 4822px;
		position: absolute;
		overflow: visible;
		width: 502px;
		white-space: nowrap;
		line-height: 30px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n______________ {
		left: 1065px;
		top: 4822px;
		position: absolute;
		overflow: visible;
		width: 506px;
		white-space: nowrap;
		line-height: 30px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n_____________________________ {
		left: 293px;
		top: 4904px;
		position: absolute;
		overflow: visible;
		width: 523px;
		white-space: nowrap;
		line-height: 30px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		color: rgba(28,28,28,1);
	}
	#n__cp {
		left: 153px;
		top: 4738px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__cq {
		left: 925px;
		top: 4738px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__cr {
		left: 283px;
		top: 4466px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	.n__cs {
		left: 90px;
		top: 4424px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n_4_ct {
		fill: rgba(255,255,255,1);
	}
	.n_4_ct {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1080px;
		left: 0px;
		top: 5400px;
	}
	#n______cu {
		left: 281px;
		top: 5814px;
		position: absolute;
		overflow: visible;
		width: 638px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__cv {
		left: 153px;
		top: 5818px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n____cw {
		left: 364px;
		top: 5951px;
		position: absolute;
		overflow: visible;
		width: 297px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n____cx {
		left: 364px;
		top: 6005px;
		position: absolute;
		overflow: visible;
		width: 297px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__cy {
		left: 364px;
		top: 6059px;
		position: absolute;
		overflow: visible;
		width: 201px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n____cz {
		left: 364px;
		top: 6113px;
		position: absolute;
		overflow: visible;
		width: 297px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n____c {
		left: 364px;
		top: 6167px;
		position: absolute;
		overflow: visible;
		width: 352px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__20__ {
		left: 364px;
		top: 6221px;
		position: absolute;
		overflow: visible;
		width: 366px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__c {
		left: 281px;
		top: 5951px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__da {
		left: 281px;
		top: 6005px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__db {
		left: 281px;
		top: 6059px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__dc {
		left: 281px;
		top: 6113px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__dd {
		left: 281px;
		top: 6167px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__de {
		left: 281px;
		top: 6221px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n_4_c {
		fill: rgba(255,255,255,1);
	}
	.n_4_c {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1020px;
		left: 0px;
		top: 6540px;
	}
	#n_3 {
		fill: rgba(255,204,0,1);
	}
	.n_3 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 60px;
		left: 0px;
		top: 6480px;
	}
	.n__df {
		left: 104px;
		top: 6480px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;

		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.35px;
	}
	#n___db {
		left: 281px;
		top: 6996px;
		position: absolute;
		overflow: visible;
		width: 407px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n_______dc {
		left: 281px;
		top: 6852px;
		position: absolute;
		overflow: visible;
		width: 699px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__dg {
		left: 153px;
		top: 7000px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#n__dh {
		left: 283px;
		top: 6626px;
		position: absolute;
		overflow: visible;
		width: 251px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#n__di {
		left: 90px;
		top: 6584px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(255,204,0,1);
		letter-spacing: 0.35px;
	}
	#Text_dg {
		left: 364px;
		top: 7107px;
		position: absolute;
		overflow: visible;
		width: 222px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n___dh {
		left: 364px;
		top: 7161px;
		position: absolute;
		overflow: visible;
		width: 180px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__dj {
		left: 281px;
		top: 7107px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}
	#n__dk {
		left: 281px;
		top: 7161px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,204,0,1);
	}