@charset "utf-8";
/* CSS Document */


	
	.main-header {
		align-items: flex-start;
		justify-content: center;
		border-bottom: none;
		/*border-right: 3px solid #FFFFFF;*/
		height: 100%;
		padding: 23px 0 0;
		width: 81px;
		box-sizing: border-box;
		z-index: 1;
		position: relative;
		background-color: #434343;
	}
	
	.logo {
		height: 50px;
		width: 50px;
		margin: auto;
	}
	
	nav {
		display: none;
	}
	
	.home-prompt {
		position: absolute;
		top: 0;
		left: 0;
		width: 80px;
		height: 100%;
		cursor: pointer;
	}
	
	.hamburger {
		display: none;
	}
	
	main {
		position: absolute;
		top: 0;
		left: 80px;
		bottom: 0;
		right: 0;
		overflow: hidden;
	}
	
	nav.is-active {
		display: none;
	}
	
	section {
		position: absolute;
		display: flex;
		left: 0;
		top: 0;
		min-height: 100%;
		width: calc(100vw - 3 * 225px);
		padding-top: 0;
		transform: translateX(100%);
		background: #fff;
	}
	
	section:first-child {
		border: none;
	}
	
	#first {
		left: calc(150px * 1);
	}
	
	#second {
		left: calc(150px * 2);
	}
	
	#third {
		left: calc(150px * 3);
	}
	
	.section-header {
		position: absolute;
		top: 0;
		display: block;
		height: 100vh;
		width: 150px;
		cursor: pointer;
		box-sizing: border-box;
		border-left: none;
	}
	
	.section-header:hover {
		
	}
	
		.section-header-a {
			font-weight: 400;
			font-size: 30px;
			border-left: 3px solid #FFCC00;
			background-color: #434343;
			color: #FFCC00;
	}
	
		.section-header-b {
			font-weight: 400;
			font-size: 30px;
			border-left: 3px solid #35B055;
			background-color: #434343;
			color: #35B055;
	}
	
		.section-header-c {
			font-weight: 400;
			font-size: 30px;
			border-left: 3px solid #336FE8;
			background-color: #434343;
			color: #336FE8;
	}
	
	.section-header .titleb {
		position: absolute;
		bottom: 80px;
		left: calc(50% - 20px);
		writing-mode: vertical-rl;
		text-orientation: mixed;
		font-size: 30px;
	}
	
	.section-header .titlea {
		position: absolute;
		bottom: 80px;
		left: calc(50% - 20px);
		writing-mode: vertical-rl;
		text-orientation: mixed;
	}
	
	.container {
		width: 100%;
		overflow: auto;
		height: 100vh;
		opacity: 100; /*컨테이너 투명도*/
	}
	
	section.active .container {
		opacity: 1;
	}
	
	section .content {
		border-left: 1px solid #000;
		margin-left: 70px;
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow-x: scroll;
		overflow-y: hidden;
	}
	
	section .introduction {
		padding: 100px 55px 75px;
	}
	
	.introduction {
		display: none;
	}
	
	.home {
		transform: none;
		width: 100%;
		background-color: #434343;
	}
	
	.home .container {
		flex-direction: column;
	}
	
	.home .top {
		align-items: stretch;
		display: flex;
		flex: 1;
		min-height: 100px;
	}
	
	.top {
		color: #ffffff;
		margin-left: 50px;
		margin-top: 150px;
		text-align: left;
		font-size: 25px;
		position: relative;
	}
	
	.ko {
		font-weight: 500;
		font-size: 60px;
		position: absolute;
		width: 600px;
		height: auto;
		top: 0;
	}
	
	.en {
		font-weight: 400;
		font-size: 28px;
		position: absolute;
		width: 520px;
		top: 270px;
		left: 0;
	}
	
	.title-pointA {
		position: relative;
		top: 5px;
		color: #FFCC00;
		font-weight: 700;
	}
	
	.title-pointB {
		position: relative;
		top: 5px;
		color: #35B055;
		font-weight: 700;
	}
	
	.title-pointC {
		position: relative;
		top: 5px;
		color: #336FE8;
		font-weight: 700;
	}

	