@charset "utf-8";
/* CSS Document */

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#ing {
		position: absolute;
		width: 1920px;
		height: 8640px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
	}
	#n_1 {
		fill: rgba(255,255,255,1);
	}
	.n_1 {
		position: absolute;
		overflow: visible;
		width: 144px;
		height: 1080px;
		left: 1776px;
		top: 0px;
	}
	#n_2 {
		fill: rgba(43,140,68,1);
	}
	.n_2 {
		position: absolute;
		overflow: visible;
		width: 1776px;
		height: 1080px;
		left: 0px;
		top: 0px;
	}
	#Text {
		left: 1779px;
		top: -8px;
		position: absolute;
		overflow: visible;
		width: 134px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#Text_l {
		left: 1501px;
		top: -9px;
		position: absolute;
		overflow: visible;
		width: 273px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.35px;
	}
	#n_ {
		left: 159px;
		top: 480px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#n__n {
		left: 159px;
		top: 747px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#btn1 {
		left: 159px;
		top: 543px;
		position: absolute;
		overflow: visible;
		width: 342px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
		background-color: #2B8C44;
		cursor: pointer;
    }
	#btn4 {
		left: 159px;
		top: 810px;
		position: absolute;
		overflow: visible;
		width: 260px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
		background-color: #2B8C44;
		cursor: pointer;
	}
	#btn2 {
		left: 159px;
		top: 587px;
		position: absolute;
		overflow: visible;
		width: 349px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
		background-color: #2B8C44;
		cursor: pointer;
	}
	#btn5 {
		left: 159px;
		top: 854px;
		position: absolute;
		overflow: visible;
		width: 260px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
		background-color: #2B8C44;
		cursor: pointer;
	}
	#btn3 {
		left: 159px;
		top: 631px;
		position: absolute;
		overflow: visible;
		width: 315px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
		background-color: #2B8C44;
		cursor: pointer;
	}
	#btn6 {
		left: 159px;
		top: 898px;
		position: absolute;
		overflow: visible;
		width: 225px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
		background-color: #2B8C44;
		cursor: pointer;
	}
	#n_6 {
		fill: rgba(43,140,68,1);
	}
	.n_6 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 60px;
		left: 0px;
		top: 1080px;
	}
	#n_5 {
		fill: rgba(255,255,255,1);
	}
	.n_5 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1020px;
		left: 0px;
		top: 1140px;
	}
	.n__w {
		left: 104px;
		top: 1080px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.35px;
	}
	#n___ {
		left: 283px;
		top: 1226px;
		position: absolute;
		overflow: visible;
		width: 516px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#n______y {
		left: 281px;
		top: 1496px;
		position: absolute;
		overflow: visible;
		width: 695px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	.n__z {
		left: 90px;
		top: 1184px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	#n_7 {
		fill: rgba(255,255,255,1);
	}
	.n_7 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1080px;
		left: 0px;
		top: 2160px;
	}
	#n_10 {
		fill: rgba(255,255,255,1);
	}
	.n_10 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1080px;
		left: 0px;
		top: 3240px;
	}
	#n_4 {
		fill: rgba(255,255,255,1);
	}
	.n_4 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1080px;
		left: 0px;
		top: 5400px;
	}
	#n________ {
		left: 281px;
		top: 5741px;
		position: absolute;
		overflow: visible;
		width: 672px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	#n_____ba {
		left: 364px;
		top: 5986px;
		position: absolute;
		overflow: visible;
		width: 387px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n_____bb {
		left: 364px;
		top: 6040px;
		position: absolute;
		overflow: visible;
		width: 479px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n_______ {
		left: 364px;
		top: 6094px;
		position: absolute;
		overflow: visible;
		width: 438px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__ {
		left: 281px;
		top: 5986px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__ba {
		left: 281px;
		top: 6040px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__bb {
		left: 281px;
		top: 6094px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n_4_ba {
		fill: rgba(255,255,255,1);
	}
	.n_4_ba {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1080px;
		left: 0px;
		top: 6480px;
	}
	#n_13 {
		fill: rgba(255,255,255,1);
	}
	.n_13 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1080px;
		left: 0px;
		top: 7560px;
	}
	#n____bc {
		left: 281px;
		top: 6969px;
		position: absolute;
		overflow: visible;
		width: 516px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	#Text_bd {
		left: 281px;
		top: 8049px;
		position: absolute;
		overflow: visible;
		width: 190px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	#n___be {
		left: 1150px;
		top: 6969px;
		position: absolute;
		overflow: visible;
		width: 312px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	#n__bf {
		left: 153px;
		top: 6973px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	#n__bg {
		left: 153px;
		top: 8053px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	#n__bh {
		left: 1022px;
		top: 6973px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	#n___bi {
		left: 283px;
		top: 6626px;
		position: absolute;
		overflow: visible;
		width: 312px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	.n__bj {
		left: 90px;
		top: 6584px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	#Ph5_____ {
		left: 364px;
		top: 7080px;
		position: absolute;
		overflow: visible;
		width: 589px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n_____bl {
		left: 364px;
		top: 8160px;
		position: absolute;
		overflow: visible;
		width: 414px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n______bm {
		left: 1233px;
		top: 7080px;
		position: absolute;
		overflow: visible;
		width: 532px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n___bn {
		left: 364px;
		top: 7134px;
		position: absolute;
		overflow: visible;
		width: 246px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n___bo {
		left: 364px;
		top: 8214px;
		position: absolute;
		overflow: visible;
		width: 180px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n_____bp {
		left: 1233px;
		top: 7134px;
		position: absolute;
		overflow: visible;
		width: 442px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n____bq {
		left: 364px;
		top: 7188px;
		position: absolute;
		overflow: visible;
		width: 357px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n_______br {
		left: 364px;
		top: 8268px;
		position: absolute;
		overflow: visible;
		width: 408px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n______bs {
		left: 1233px;
		top: 7188px;
		position: absolute;
		overflow: visible;
		width: 430px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n_____5__ {
		left: 364px;
		top: 7242px;
		position: absolute;
		overflow: visible;
		width: 442px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n_________bu {
		left: 1233px;
		top: 7242px;
		position: absolute;
		overflow: visible;
		width: 442px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n_________ {
		left: 1233px;
		top: 7340px;
		position: absolute;
		overflow: visible;
		width: 449px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__bw {
		left: 281px;
		top: 7080px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__bx {
		left: 281px;
		top: 8160px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__by {
		left: 1150px;
		top: 7080px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__bz {
		left: 281px;
		top: 7134px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__b {
		left: 281px;
		top: 8214px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__ca {
		left: 1150px;
		top: 7134px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__cb {
		left: 281px;
		top: 7188px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__cc {
		left: 281px;
		top: 8268px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__cd {
		left: 1150px;
		top: 7188px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__ce {
		left: 281px;
		top: 7242px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__cf {
		left: 1150px;
		top: 7242px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__cg {
		left: 1150px;
		top: 7340px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n___b {
		left: 364px;
		top: 1695px;
		position: absolute;
		overflow: visible;
		width: 235px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__ch {
		left: 364px;
		top: 1749px;
		position: absolute;
		overflow: visible;
		width: 118px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#Text_ca {
		left: 364px;
		top: 1803px;
		position: absolute;
		overflow: visible;
		width: 111px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__ci {
		left: 364px;
		top: 1857px;
		position: absolute;
		overflow: visible;
		width: 229px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__cj {
		left: 281px;
		top: 1695px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__ck {
		left: 281px;
		top: 1749px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__cl {
		left: 281px;
		top: 1803px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__cm {
		left: 281px;
		top: 1857px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n_____cg {
		left: 283px;
		top: 2286px;
		position: absolute;
		overflow: visible;
		width: 529px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#n____ch {
		left: 283px;
		top: 3366px;
		position: absolute;
		overflow: visible;
		width: 516px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#n________ci {
		left: 281px;
		top: 2556px;
		position: absolute;
		overflow: visible;
		width: 659px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	#n______cj {
		left: 281px;
		top: 3636px;
		position: absolute;
		overflow: visible;
		width: 335px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	.n__cn {
		left: 90px;
		top: 2244px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	.n__co {
		left: 90px;
		top: 3324px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	#Text_cm {
		left: 364px;
		top: 2755px;
		position: absolute;
		overflow: visible;
		width: 84px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#Text_cn {
		left: 364px;
		top: 2809px;
		position: absolute;
		overflow: visible;
		width: 56px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#Text_co {
		left: 364px;
		top: 2863px;
		position: absolute;
		overflow: visible;
		width: 56px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#Text_cp {
		left: 364px;
		top: 2917px;
		position: absolute;
		overflow: visible;
		width: 84px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__cq {
		left: 281px;
		top: 2755px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__cr {
		left: 281px;
		top: 2809px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__cs {
		left: 281px;
		top: 2863px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__ct {
		left: 281px;
		top: 2917px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n___cu {
		left: 1057px;
		top: 3652px;
		position: absolute;
		overflow: visible;
		width: 291px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__cv {
		left: 1057px;
		top: 3706px;
		position: absolute;
		overflow: visible;
		width: 173px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n___cw {
		left: 1057px;
		top: 3760px;
		position: absolute;
		overflow: visible;
		width: 291px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n___cx {
		left: 1057px;
		top: 3814px;
		position: absolute;
		overflow: visible;
		width: 263px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__cy {
		left: 1057px;
		top: 3868px;
		position: absolute;
		overflow: visible;
		width: 173px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n___cz {
		left: 1057px;
		top: 3922px;
		position: absolute;
		overflow: visible;
		width: 208px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		color: rgba(28,28,28,1);
	}
	#n__c {
		left: 974px;
		top: 3652px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__da {
		left: 974px;
		top: 3706px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__db {
		left: 974px;
		top: 3760px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__dc {
		left: 974px;
		top: 3814px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__dd {
		left: 974px;
		top: 3868px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n__de {
		left: 974px;
		top: 3922px;
		position: absolute;
		overflow: visible;
		width: 41px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(43,140,68,1);
	}
	#n_11 {
		fill: rgba(43,140,68,1);
	}
	.n_11 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 60px;
		left: 0px;
		top: 4320px;
	}
	#n_12 {
		fill: rgba(255,255,255,1);
	}
	.n_12 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 1020px;
		left: 0px;
		top: 4380px;
	}
	#n__df {
		left: 104px;
		top: 4320px;
		position: absolute;
		overflow: visible;
		width: 163px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.35px;
	}
	#n____c {
		left: 283px;
		top: 4466px;
		position: absolute;
		overflow: visible;
		width: 373px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	.n__dg {
		left: 90px;
		top: 4424px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	#n___db {
		left: 281px;
		top: 4771px;
		position: absolute;
		overflow: visible;
		width: 483px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	#n_______dc {
		left: 1083px;
		top: 4696px;
		position: absolute;
		overflow: visible;
		width: 516px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	#n__dh {
		left: 281px;
		top: 4913px;
		position: absolute;
		overflow: visible;
		width: 251px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#n_______de {
		left: 1083px;
		top: 4913px;
		position: absolute;
		overflow: visible;
		width: 516px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	#n__di {
		left: 153px;
		top: 4775px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	#n__dj {
		left: 955px;
		top: 4775px;
		position: absolute;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: normal;
		font-size: 45px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}
	#n____dh {
		left: 283px;
		top: 5581px;
		position: absolute;
		overflow: visible;
		width: 373px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(28,28,28,1);
		letter-spacing: 0.35px;
	}
	.n__dk {
		left: 90px;
		top: 5539px;
		position: absolute;
		overflow: visible;
		width: 86px;
		white-space: nowrap;
		text-align: left;
		font-family: Noto Sans KR;
		font-style: normal;
		font-weight: bold;
		font-size: 145px;
		color: rgba(43,140,68,1);
		letter-spacing: 0.35px;
	}